openapi: 3.0.3
info:
  title: PapelShip Store API
  version: 1.0.0
  description: 'Manage your PapelShip store from your own systems: create orders, sync products and stock, ship physical orders, answer support tickets and react to events.


    Every request needs your API key in `x-api-key` and your store ID in `x-store-hash`. Amounts are integers in minor units (`2999` = 29.99). Dates are ISO 8601 in UTC.'
  contact:
    name: PapelShip Support
    email: support@papelship.com
    url: https://papelship.com
servers:
- url: https://app.papelship.com/api/v1
  description: Production
security:
- ApiKey: []
  StoreHash: []
tags:
- name: Account
  description: Your key, store and payment methods.
- name: Orders
  description: Create orders, take manual payments, cancel, refund and read deliveries.
- name: Products
  description: Products and their settings.
- name: Variants & stock
  description: Variants, physical stock and license keys.
- name: Product content
  description: Media, SEO, payment methods, files and stock alerts.
- name: Categories
  description: Organise products.
- name: Groups
  description: Collections of products.
- name: Coupons
  description: Discount codes.
- name: Customers
  description: Buyers and their history.
- name: Blocklist
  description: Emails and IPs that can't place orders.
- name: Reviews
  description: Customer reviews.
- name: Support
  description: Support tickets.
- name: Subscriptions
  description: Recurring products and auto-renewals.
- name: Fulfillment
  description: Ship physical orders.
- name: Returns
  description: Return requests.
- name: Shipping settings
  description: Zones, rates and locations.
- name: Webhooks
  description: Endpoints, deliveries and event types.
- name: Affiliates
  description: Partner programme.
- name: Analytics
  description: Sales summary.
paths:
  /me:
    get:
      tags:
      - Account
      operationId: getMe
      summary: Get the current key
      description: Returns the store, the key's permissions and your API limits. Works with any valid key; use it to test credentials.
      responses:
        '200':
          description: Key information
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  store:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 0bHQn0bU2dei
                      name:
                        type: string
                        example: Acme
                      slug:
                        type: string
                        example: acme
                      currency:
                        type: string
                        example: USD
                  key:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                        example: Order sync
                      prefix:
                        type: string
                        example: pk_live_3f9a
                      expires_at:
                        type: string
                        format: date-time
                        nullable: true
                        example: '2026-10-04T12:00:00.000Z'
                      permissions:
                        type: object
                        properties: {}
                        description: 'Access per area: `none`, `read` or `write`.'
                        additionalProperties:
                          type: string
                          enum:
                          - none
                          - read
                          - write
                        example:
                          orders: write
                          products: read
                          webhooks: none
                  limits:
                    type: object
                    properties:
                      requests_per_minute:
                        type: integer
                        example: 300
                      monthly_quota:
                        type: integer
                        nullable: true
                        example: 100000
                      used_this_month:
                        type: integer
                        example: 4210
                      quota_resets_at:
                        type: string
                        format: date-time
                        example: '2026-10-04T12:00:00.000Z'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
  /invoices:
    get:
      tags:
      - Orders
      operationId: listInvoices
      summary: List orders
      description: 'Newest first. Add `expand=items` to include line items.


        **Permission:** `orders:read`'
      parameters:
      - in: query
        name: status
        schema:
          type: string
          enum:
          - pending
          - payment_pending
          - payment_processing
          - partial_payment
          - manual_review_pending
          - completed
          - cancelled
          - expired
      - in: query
        name: email
        schema:
          type: string
        description: Exact customer email.
      - in: query
        name: q
        schema:
          type: string
        description: Search in order ID and email.
      - in: query
        name: paid
        schema:
          type: boolean
        description: '`true` = paid orders only, `false` = unpaid only.'
      - in: query
        name: created_after
        schema:
          type: string
          format: date-time
          example: '2026-10-04T12:00:00.000Z'
      - in: query
        name: created_before
        schema:
          type: string
          format: date-time
          example: '2026-10-04T12:00:00.000Z'
      - in: query
        name: expand
        schema:
          type: string
          enum:
          - items
      - in: query
        name: limit
        schema:
          type: integer
          default: 25
          minimum: 1
          maximum: 100
        description: Items per page (1–100).
      - in: query
        name: offset
        schema:
          type: integer
          default: 0
          minimum: 0
        description: Number of items to skip.
      responses:
        '200':
          description: A page of results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  invoices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    post:
      tags:
      - Orders
      operationId: createInvoice
      summary: Create an order
      description: 'Creates an order and returns its `checkout_url`, where the customer picks a payment method and pays. Prices, stock, coupons, product rules, fraud checks, shipping and affiliate attribution work exactly as on your storefront.


        For physical products send `shipping_address`; without it the customer enters the address on the checkout page. The order expires after 3 hours if unpaid.


        **Permission:** `orders:write`'
      parameters:
      - in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
          maxLength: 255
        description: Unique key (for example a UUID) that makes retries safe. The first response is stored for 24 hours and replayed for retries with the same key and body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customer_email:
                  type: string
                  format: email
                  description: Buyer email. Receives the invoice email and the delivery.
                  example: buyer@example.com
                delivery_email:
                  type: string
                  format: email
                  description: Send the delivery to a different address.
                items:
                  type: array
                  description: 1–50 lines. Prices come from your catalogue; you cannot set them.
                  items:
                    type: object
                    properties:
                      product_id:
                        oneOf:
                        - type: string
                        - type: integer
                        description: Product hash ID (or numeric ID).
                        example: a1B2c3D4e5F6
                      variant_id:
                        type: integer
                        description: Required for products with variants.
                      quantity:
                        type: integer
                        default: 1
                        minimum: 1
                        maximum: 10000
                      donation_amount_cents:
                        type: integer
                        description: Required for donation products.
                    required:
                    - product_id
                  minItems: 1
                  maxItems: 50
                coupon_code:
                  type: string
                  description: Applied if valid for these products. An invalid coupon is ignored.
                  example: SUMMER10
                currency:
                  type: string
                  description: Must match the products' currency. Defaults to it.
                  example: USD
                expected_total_cents:
                  type: integer
                  description: Optional safety check. If the server total differs by more than 1 cent, the call fails with `TOTAL_MISMATCH`.
                custom_fields:
                  type: object
                  properties: {}
                  description: Answers to your checkout fields, keyed by field key.
                  additionalProperties:
                    type: string
                shipping_address:
                  $ref: '#/components/schemas/ShippingAddress'
                shipping_rate_id:
                  type: integer
                  description: Rate from POST /shipping/quote. Without it the cheapest rate is used.
                customer_ip:
                  type: string
                  description: Buyer's IP address. Enables your fraud, VPN and blocklist rules for this order.
                  example: 203.0.113.10
                affiliate_code:
                  type: string
                  description: Partner link code to credit (affiliate programme).
                  example: alex
                send_email:
                  type: boolean
                  description: Send the invoice email to the customer.
                  default: true
                metadata:
                  type: object
                  properties: {}
                  description: Up to 20 keys (≤40 chars) with string values (≤500 chars). Returned on the order and in webhooks of your systems.
                  additionalProperties:
                    type: string
                  example:
                    order_ref: WEB-1042
              required:
              - customer_email
              - items
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  invoice:
                    $ref: '#/components/schemas/Invoice'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /invoices/{invoiceId}:
    get:
      tags:
      - Orders
      operationId: getInvoice
      summary: Get an order
      description: 'Includes items, shipping address and custom fields.


        **Permission:** `orders:read`'
      parameters:
      - in: path
        name: invoiceId
        required: true
        schema:
          type: string
          example: c35ffd-19a1b2c3d4e-8c7a20
        description: Public order ID.
      responses:
        '200':
          description: The order
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  invoice:
                    $ref: '#/components/schemas/Invoice'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Orders
      operationId: updateInvoice
      summary: Update an order
      description: 'Change `metadata` (merged; `null` removes a key) or `delivery_email` (before completion). Change the status with the action endpoints.


        **Permission:** `orders:write`'
      parameters:
      - in: path
        name: invoiceId
        required: true
        schema:
          type: string
          example: c35ffd-19a1b2c3d4e-8c7a20
        description: Public order ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  properties: {}
                  additionalProperties:
                    type: string
                    nullable: true
                delivery_email:
                  type: string
                  format: email
      responses:
        '200':
          description: The updated order
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  invoice:
                    $ref: '#/components/schemas/Invoice'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    delete:
      tags:
      - Orders
      operationId: deleteInvoice
      summary: Cancel an order (alias)
      description: 'Same as `POST /invoices/{invoiceId}/cancel`. Kept for older integrations.


        **Permission:** `orders:write`'
      parameters:
      - in: path
        name: invoiceId
        required: true
        schema:
          type: string
          example: c35ffd-19a1b2c3d4e-8c7a20
        description: Public order ID.
      responses:
        '200':
          description: The cancelled order
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  invoice:
                    $ref: '#/components/schemas/Invoice'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /invoices/{invoiceId}/complete:
    post:
      tags:
      - Orders
      operationId: completeInvoice
      summary: Mark as paid and deliver
      description: 'Use when you received the payment outside PapelShip (bank transfer, cash). Completes the order, delivers the products and sends `order.completed`. Calling it again on a completed order retries delivery.


        **Permission:** `orders:write`'
      parameters:
      - in: path
        name: invoiceId
        required: true
        schema:
          type: string
          example: c35ffd-19a1b2c3d4e-8c7a20
        description: Public order ID.
      - in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
          maxLength: 255
        description: Unique key (for example a UUID) that makes retries safe. The first response is stored for 24 hours and replayed for retries with the same key and body.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_method:
                  type: string
                  description: Label stored on the order.
                  example: BANK_TRANSFER
      responses:
        '200':
          description: The completed order
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  invoice:
                    $ref: '#/components/schemas/Invoice'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '502':
          $ref: '#/components/responses/UpstreamFailed'
  /invoices/{invoiceId}/cancel:
    post:
      tags:
      - Orders
      operationId: cancelInvoice
      summary: Cancel an unpaid order
      description: 'Releases reserved stock and sends `order.cancelled`. Paid orders return `INVOICE_PAID` (refund them instead); orders with a payment in progress return `PAYMENT_IN_PROGRESS`.


        **Permission:** `orders:write`'
      parameters:
      - in: path
        name: invoiceId
        required: true
        schema:
          type: string
          example: c35ffd-19a1b2c3d4e-8c7a20
        description: Public order ID.
      responses:
        '200':
          description: The cancelled order
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  invoice:
                    $ref: '#/components/schemas/Invoice'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /invoices/{invoiceId}/refund:
    post:
      tags:
      - Orders
      operationId: refundInvoice
      summary: Record a refund
      description: 'Records money you paid back outside PapelShip. Reverses affiliate commission and sends `order.refunded`. Codes: `INVOICE_NOT_PAID`, `ALREADY_REFUNDED`, `REFUND_TOO_LARGE`.


        **Permission:** `orders:write`'
      parameters:
      - in: path
        name: invoiceId
        required: true
        schema:
          type: string
          example: c35ffd-19a1b2c3d4e-8c7a20
        description: Public order ID.
      - in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
          maxLength: 255
        description: Unique key (for example a UUID) that makes retries safe. The first response is stored for 24 hours and replayed for retries with the same key and body.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                amount_cents:
                  type: integer
                  description: Defaults to the rest of the order.
                  minimum: 1
                reason:
                  type: string
                  maxLength: 1000
      responses:
        '200':
          description: Refund recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  invoice:
                    $ref: '#/components/schemas/Invoice'
                  refund:
                    type: object
                    properties:
                      refunded_cents:
                        type: integer
                      refund_status:
                        type: string
                    additionalProperties: true
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /invoices/{invoiceId}/deliveries:
    get:
      tags:
      - Orders
      operationId: listInvoiceDeliveries
      summary: List deliveries
      description: 'License keys, files and notes delivered for the order.


        **Permission:** `orders:read`'
      parameters:
      - in: path
        name: invoiceId
        required: true
        schema:
          type: string
          example: c35ffd-19a1b2c3d4e-8c7a20
        description: Public order ID.
      responses:
        '200':
          description: Deliveries
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  deliveries:
                    type: array
                    items:
                      $ref: '#/components/schemas/Delivery'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /invoices/{invoiceId}/void:
    post:
      tags:
      - Orders
      operationId: voidInvoice
      summary: Cancel an order (old name)
      description: 'Same as `/cancel`.


        **Permission:** `orders:write`'
      parameters:
      - in: path
        name: invoiceId
        required: true
        schema:
          type: string
          example: c35ffd-19a1b2c3d4e-8c7a20
        description: Public order ID.
      responses:
        '200':
          description: The cancelled order
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  invoice:
                    $ref: '#/components/schemas/Invoice'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      deprecated: true
  /invoices/{invoiceId}/force-delivery:
    post:
      tags:
      - Orders
      operationId: forceDelivery
      summary: Retry delivery (old name)
      description: 'Retries delivery of a paid order. Prefer `/complete`.


        **Permission:** `orders:write`'
      parameters:
      - in: path
        name: invoiceId
        required: true
        schema:
          type: string
          example: c35ffd-19a1b2c3d4e-8c7a20
        description: Public order ID.
      responses:
        '200':
          description: The order
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  invoice:
                    $ref: '#/components/schemas/Invoice'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '502':
          $ref: '#/components/responses/UpstreamFailed'
      deprecated: true
  /categories:
    get:
      tags:
      - Categories
      operationId: listCategorys
      summary: List categorys
      description: '**Permission:** `catalog:read`'
      parameters:
      - in: query
        name: q
        schema:
          type: string
        description: Search name or slug.
      - in: query
        name: active
        schema:
          type: boolean
      - in: query
        name: parent_id
        schema:
          type: string
        description: Category ID or `null` for top level.
      - in: query
        name: limit
        schema:
          type: integer
          default: 25
          minimum: 1
          maximum: 100
        description: Items per page (1–100).
      - in: query
        name: offset
        schema:
          type: integer
          default: 0
          minimum: 0
        description: Number of items to skip.
      responses:
        '200':
          description: A page of results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  categorys:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    post:
      tags:
      - Categories
      operationId: createCategory
      summary: Create a category
      description: '**Permission:** `catalog:write`'
      parameters:
      - in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
          maxLength: 255
        description: Unique key (for example a UUID) that makes retries safe. The first response is stored for 24 hours and replayed for retries with the same key and body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 191
                slug:
                  type: string
                  description: Lowercase letters, digits and dashes. Generated from the name when omitted.
                  pattern: ^[a-z0-9]+(-[a-z0-9]+)*$
                icon:
                  type: string
                  nullable: true
                active:
                  type: boolean
                  default: true
                parent_id:
                  type: integer
                  description: Category of this store. `null` = top level.
                  nullable: true
                position:
                  type: integer
                product_ids:
                  type: array
                  description: Product IDs or hash IDs of this store (max 1000). Replaces the current list; `[]` or `null` clears it.
                  items:
                    oneOf:
                    - type: integer
                    - type: string
              required:
              - name
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  category:
                    $ref: '#/components/schemas/Category'
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductRef'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /categories/{id}:
    get:
      tags:
      - Categories
      operationId: getCategory
      summary: Get a category
      description: '**Permission:** `catalog:read`'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: '23'
        description: Category ID.
      responses:
        '200':
          description: The record
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  category:
                    $ref: '#/components/schemas/Category'
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductRef'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Categories
      operationId: updateCategory
      summary: Update a category
      description: 'Send only the fields to change. `PUT` is accepted as an alias.


        **Permission:** `catalog:write`'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: '23'
        description: Category ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 191
                slug:
                  type: string
                  description: Lowercase letters, digits and dashes. Generated from the name when omitted.
                  pattern: ^[a-z0-9]+(-[a-z0-9]+)*$
                icon:
                  type: string
                  nullable: true
                active:
                  type: boolean
                  default: true
                parent_id:
                  type: integer
                  description: Category of this store. `null` = top level.
                  nullable: true
                position:
                  type: integer
                product_ids:
                  type: array
                  description: Product IDs or hash IDs of this store (max 1000). Replaces the current list; `[]` or `null` clears it.
                  items:
                    oneOf:
                    - type: integer
                    - type: string
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  category:
                    $ref: '#/components/schemas/Category'
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductRef'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    delete:
      tags:
      - Categories
      operationId: deleteCategory
      summary: Delete a category
      description: 'Child categories move to the top level. Products are kept.


        **Permission:** `catalog:write`'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: '23'
        description: Category ID.
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  deleted:
                    type: boolean
                    example: true
                  id:
                    type: integer
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /categories/{id}/duplicate:
    post:
      tags:
      - Categories
      operationId: duplicateCategory
      summary: Duplicate a category
      description: 'Creates a copy named “… (Copy)” with the same products.


        **Permission:** `catalog:write`'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: '23'
        description: Category ID.
      - in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
          maxLength: 255
        description: Unique key (for example a UUID) that makes retries safe. The first response is stored for 24 hours and replayed for retries with the same key and body.
      responses:
        '201':
          description: The copy
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  category:
                    $ref: '#/components/schemas/Category'
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductRef'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /groups:
    get:
      tags:
      - Groups
      operationId: listGroups
      summary: List groups
      description: '**Permission:** `catalog:read`'
      parameters:
      - in: query
        name: q
        schema:
          type: string
      - in: query
        name: unlisted
        schema:
          type: boolean
      - in: query
        name: limit
        schema:
          type: integer
          default: 25
          minimum: 1
          maximum: 100
        description: Items per page (1–100).
      - in: query
        name: offset
        schema:
          type: integer
          default: 0
          minimum: 0
        description: Number of items to skip.
      responses:
        '200':
          description: A page of results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  groups:
                    type: array
                    items:
                      $ref: '#/components/schemas/Group'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    post:
      tags:
      - Groups
      operationId: createGroup
      summary: Create a group
      description: '**Permission:** `catalog:write`'
      parameters:
      - in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
          maxLength: 255
        description: Unique key (for example a UUID) that makes retries safe. The first response is stored for 24 hours and replayed for retries with the same key and body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                image_url:
                  type: string
                  description: http(s) URL.
                  nullable: true
                unlisted:
                  type: boolean
                  default: false
                product_ids:
                  type: array
                  description: Product IDs or hash IDs of this store (max 1000). Replaces the current list; `[]` or `null` clears it.
                  items:
                    oneOf:
                    - type: integer
                    - type: string
              required:
              - name
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  group:
                    $ref: '#/components/schemas/Group'
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductRef'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /groups/{id}:
    get:
      tags:
      - Groups
      operationId: getGroup
      summary: Get a group
      description: '**Permission:** `catalog:read`'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: '3'
        description: Group ID.
      responses:
        '200':
          description: The record
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  group:
                    $ref: '#/components/schemas/Group'
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductRef'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Groups
      operationId: updateGroup
      summary: Update a group
      description: 'Send only the fields to change. `PUT` is accepted as an alias.


        **Permission:** `catalog:write`'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: '3'
        description: Group ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                image_url:
                  type: string
                  description: http(s) URL.
                  nullable: true
                unlisted:
                  type: boolean
                  default: false
                product_ids:
                  type: array
                  description: Product IDs or hash IDs of this store (max 1000). Replaces the current list; `[]` or `null` clears it.
                  items:
                    oneOf:
                    - type: integer
                    - type: string
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  group:
                    $ref: '#/components/schemas/Group'
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductRef'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    delete:
      tags:
      - Groups
      operationId: deleteGroup
      summary: Delete a group
      description: '**Permission:** `catalog:write`'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: '3'
        description: Group ID.
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  deleted:
                    type: boolean
                    example: true
                  id:
                    type: integer
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /groups/{id}/duplicate:
    post:
      tags:
      - Groups
      operationId: duplicateGroup
      summary: Duplicate a group
      description: 'Creates a copy named “… (Copy)” with the same products.


        **Permission:** `catalog:write`'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: '3'
        description: Group ID.
      - in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
          maxLength: 255
        description: Unique key (for example a UUID) that makes retries safe. The first response is stored for 24 hours and replayed for retries with the same key and body.
      responses:
        '201':
          description: The copy
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  group:
                    $ref: '#/components/schemas/Group'
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductRef'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /coupons:
    get:
      tags:
      - Coupons
      operationId: listCoupons
      summary: List coupons
      description: '**Permission:** `coupons:read`'
      parameters:
      - in: query
        name: q
        schema:
          type: string
        description: Search code or hash ID.
      - in: query
        name: status
        schema:
          type: string
          enum:
          - active
          - inactive
      - in: query
        name: limit
        schema:
          type: integer
          default: 25
          minimum: 1
          maximum: 100
        description: Items per page (1–100).
      - in: query
        name: offset
        schema:
          type: integer
          default: 0
          minimum: 0
        description: Number of items to skip.
      responses:
        '200':
          description: A page of results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  coupons:
                    type: array
                    items:
                      $ref: '#/components/schemas/Coupon'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    post:
      tags:
      - Coupons
      operationId: createCoupon
      summary: Create a coupon
      description: 'Codes must be unique in the store (`COUPON_CODE_TAKEN`).


        **Permission:** `coupons:write`'
      parameters:
      - in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
          maxLength: 255
        description: Unique key (for example a UUID) that makes retries safe. The first response is stored for 24 hours and replayed for retries with the same key and body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: Uppercased. A–Z, 0–9, `_`, `-`.
                  example: SUMMER20
                  maxLength: 64
                type:
                  type: string
                  enum:
                  - percent
                  - fixed
                value:
                  type: integer
                  description: 1–100 for percent; minor units for fixed.
                max_uses:
                  type: integer
                  nullable: true
                  minimum: 1
                require_purchase:
                  type: boolean
                valid_from:
                  type: string
                  format: date-time
                  nullable: true
                  example: '2026-10-04T12:00:00.000Z'
                valid_to:
                  type: string
                  format: date-time
                  description: Must be after `valid_from`.
                  nullable: true
                  example: '2026-10-04T12:00:00.000Z'
                status:
                  type: string
                  enum:
                  - active
                  - inactive
                  default: active
                product_ids:
                  type: array
                  description: Product IDs or hash IDs of this store (max 1000). Replaces the current list; `[]` or `null` clears it.
                  items:
                    oneOf:
                    - type: integer
                    - type: string
                disabled_payment_methods:
                  type: array
                  items:
                    type: string
                    example: BITCOIN
                  maxItems: 100
              required:
              - code
              - type
              - value
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  coupon:
                    $ref: '#/components/schemas/Coupon'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /coupons/{id}:
    get:
      tags:
      - Coupons
      operationId: getCoupon
      summary: Get a coupon
      description: '**Permission:** `coupons:read`'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: XcLtb99X
        description: Coupon ID or hash ID.
      responses:
        '200':
          description: The record
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  coupon:
                    $ref: '#/components/schemas/Coupon'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Coupons
      operationId: updateCoupon
      summary: Update a coupon
      description: 'Send only the fields to change. `PUT` is accepted as an alias.


        **Permission:** `coupons:write`'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: XcLtb99X
        description: Coupon ID or hash ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: Uppercased. A–Z, 0–9, `_`, `-`.
                  example: SUMMER20
                  maxLength: 64
                type:
                  type: string
                  enum:
                  - percent
                  - fixed
                value:
                  type: integer
                  description: 1–100 for percent; minor units for fixed.
                max_uses:
                  type: integer
                  nullable: true
                  minimum: 1
                require_purchase:
                  type: boolean
                valid_from:
                  type: string
                  format: date-time
                  nullable: true
                  example: '2026-10-04T12:00:00.000Z'
                valid_to:
                  type: string
                  format: date-time
                  description: Must be after `valid_from`.
                  nullable: true
                  example: '2026-10-04T12:00:00.000Z'
                status:
                  type: string
                  enum:
                  - active
                  - inactive
                  default: active
                product_ids:
                  type: array
                  description: Product IDs or hash IDs of this store (max 1000). Replaces the current list; `[]` or `null` clears it.
                  items:
                    oneOf:
                    - type: integer
                    - type: string
                disabled_payment_methods:
                  type: array
                  items:
                    type: string
                    example: BITCOIN
                  maxItems: 100
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  coupon:
                    $ref: '#/components/schemas/Coupon'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    delete:
      tags:
      - Coupons
      operationId: deleteCoupon
      summary: Delete a coupon
      description: '**Permission:** `coupons:write`'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: XcLtb99X
        description: Coupon ID or hash ID.
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  deleted:
                    type: boolean
                    example: true
                  id:
                    type: integer
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /customers:
    get:
      tags:
      - Customers
      operationId: listCustomers
      summary: List customers
      description: 'Newest first.


        **Permission:** `customers:read`'
      parameters:
      - in: query
        name: q
        schema:
          type: string
        description: Part of the email.
      - in: query
        name: email
        schema:
          type: string
        description: Exact email.
      - in: query
        name: status
        schema:
          type: string
          enum:
          - active
          - banned
      - in: query
        name: limit
        schema:
          type: integer
          default: 25
          minimum: 1
          maximum: 100
        description: Items per page (1–100).
      - in: query
        name: offset
        schema:
          type: integer
          default: 0
          minimum: 0
        description: Number of items to skip.
      responses:
        '200':
          description: A page of results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  customers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /customers/{id}:
    get:
      tags:
      - Customers
      operationId: getCustomer
      summary: Get a customer
      description: 'With spending stats and the last 10 orders.


        **Permission:** `customers:read`'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: '14'
        description: Customer `key`, customer ID or URL-encoded email.
      responses:
        '200':
          description: The customer
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  customer:
                    $ref: '#/components/schemas/Customer'
                  recent_orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomerOrder'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /customers/{id}/ban:
    post:
      tags:
      - Customers
      operationId: banCustomer
      summary: Ban a customer
      description: 'Marks the customer as banned. To stop someone from buying, also add them to the blocklist.


        **Permission:** `customers:write`'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: '14'
        description: Customer `key`, customer ID or URL-encoded email.
      responses:
        '200':
          description: The customer
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  customer:
                    $ref: '#/components/schemas/Customer'
                  recent_orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomerOrder'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /customers/{id}/unban:
    post:
      tags:
      - Customers
      operationId: unbanCustomer
      summary: Unban a customer
      description: 'Lifts the ban.


        **Permission:** `customers:write`'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: '14'
        description: Customer `key`, customer ID or URL-encoded email.
      responses:
        '200':
          description: The customer
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  customer:
                    $ref: '#/components/schemas/Customer'
                  recent_orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomerOrder'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /blacklist/emails:
    get:
      tags:
      - Blocklist
      operationId: listBlockedEmails
      summary: List blocked emails
      description: '**Permission:** `customers:read`'
      parameters:
      - in: query
        name: q
        schema:
          type: string
      - in: query
        name: limit
        schema:
          type: integer
          default: 25
          minimum: 1
          maximum: 100
        description: Items per page (1–100).
      - in: query
        name: offset
        schema:
          type: integer
          default: 0
          minimum: 0
        description: Number of items to skip.
      responses:
        '200':
          description: A page of results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  blocked_emails:
                    type: array
                    items:
                      $ref: '#/components/schemas/BlockedEmail'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    post:
      tags:
      - Blocklist
      operationId: blockEmails
      summary: Block an email
      description: 'Checkout rejects new orders from blocked emails and IPs.


        **Permission:** `customers:write`'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: fraud@example.com
                reason:
                  type: string
                  maxLength: 255
              required:
              - email
      responses:
        '201':
          description: Blocked
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  blocked_email:
                    $ref: '#/components/schemas/BlockedEmail'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /blacklist/emails/{email}:
    delete:
      tags:
      - Blocklist
      operationId: unblockEmails
      summary: Remove from the blocklist
      description: '**Permission:** `customers:write`'
      parameters:
      - in: path
        name: email
        required: true
        schema:
          type: string
          example: fraud@example.com
        description: URL-encoded value.
      responses:
        '200':
          description: Removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  deleted:
                    type: boolean
                    example: true
                  blocked_email:
                    $ref: '#/components/schemas/BlockedEmail'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /blacklist/ips:
    get:
      tags:
      - Blocklist
      operationId: listBlockedIps
      summary: List blocked ips
      description: '**Permission:** `customers:read`'
      parameters:
      - in: query
        name: q
        schema:
          type: string
      - in: query
        name: limit
        schema:
          type: integer
          default: 25
          minimum: 1
          maximum: 100
        description: Items per page (1–100).
      - in: query
        name: offset
        schema:
          type: integer
          default: 0
          minimum: 0
        description: Number of items to skip.
      responses:
        '200':
          description: A page of results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  blocked_ips:
                    type: array
                    items:
                      $ref: '#/components/schemas/BlockedIp'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    post:
      tags:
      - Blocklist
      operationId: blockIps
      summary: Block an IP address
      description: 'Checkout rejects new orders from blocked emails and IPs.


        **Permission:** `customers:write`'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ip:
                  type: string
                  example: 203.0.113.10
                reason:
                  type: string
                  maxLength: 255
              required:
              - ip
      responses:
        '201':
          description: Blocked
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  blocked_ip:
                    $ref: '#/components/schemas/BlockedIp'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /blacklist/ips/{ip}:
    delete:
      tags:
      - Blocklist
      operationId: unblockIps
      summary: Remove from the blocklist
      description: '**Permission:** `customers:write`'
      parameters:
      - in: path
        name: ip
        required: true
        schema:
          type: string
          example: 203.0.113.10
        description: URL-encoded value.
      responses:
        '200':
          description: Removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  deleted:
                    type: boolean
                    example: true
                  blocked_ip:
                    $ref: '#/components/schemas/BlockedIp'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /reviews:
    get:
      tags:
      - Reviews
      operationId: listReviews
      summary: List reviews
      description: 'Newest first.


        **Permission:** `reviews:read`'
      parameters:
      - in: query
        name: rating
        schema:
          type: integer
          minimum: 1
          maximum: 5
      - in: query
        name: hidden
        schema:
          type: boolean
      - in: query
        name: email
        schema:
          type: string
      - in: query
        name: invoice_id
        schema:
          type: string
      - in: query
        name: limit
        schema:
          type: integer
          default: 25
          minimum: 1
          maximum: 100
        description: Items per page (1–100).
      - in: query
        name: offset
        schema:
          type: integer
          default: 0
          minimum: 0
        description: Number of items to skip.
      responses:
        '200':
          description: A page of results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  reviews:
                    type: array
                    items:
                      $ref: '#/components/schemas/Review'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /reviews/{id}:
    get:
      tags:
      - Reviews
      operationId: getReview
      summary: Get a review
      description: '**Permission:** `reviews:read`'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: '634'
        description: Review ID.
      responses:
        '200':
          description: The review
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  review:
                    $ref: '#/components/schemas/Review'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Reviews
      operationId: updateReview
      summary: Hide or show a review
      description: '**Permission:** `reviews:write`'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: '634'
        description: Review ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                hidden:
                  type: boolean
              required:
              - hidden
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  review:
                    $ref: '#/components/schemas/Review'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    delete:
      tags:
      - Reviews
      operationId: deleteReview
      summary: Delete a review
      description: '**Permission:** `reviews:write`'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: '634'
        description: Review ID.
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  deleted:
                    type: boolean
                    example: true
                  id:
                    type: integer
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /analytics:
    get:
      tags:
      - Analytics
      operationId: getAnalytics
      summary: Sales summary
      description: 'Sales are counted when paid. Without dates the whole history is used. `revenue` is in the store currency; `revenue_by_currency` covers every currency.


        **Permission:** `analytics:read`'
      parameters:
      - in: query
        name: from
        schema:
          type: string
        description: '`YYYY-MM-DD` or ISO date-time (UTC).'
      - in: query
        name: to
        schema:
          type: string
        description: Inclusive when a date.
      responses:
        '200':
          description: Summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  analytics:
                    type: object
                    properties:
                      revenue:
                        type: object
                        properties:
                          cents:
                            type: integer
                            example: 352620
                          net_cents:
                            type: integer
                            example: 337912
                          refunded_cents:
                            type: integer
                            example: 14708
                          currency:
                            type: string
                            example: USD
                      revenue_by_currency:
                        type: array
                        items:
                          type: object
                          properties:
                            currency:
                              type: string
                            orders:
                              type: integer
                            gross_cents:
                              type: integer
                            refunded_cents:
                              type: integer
                            net_cents:
                              type: integer
                      orders:
                        type: object
                        properties:
                          total:
                            type: integer
                          completed:
                            type: integer
                      customers:
                        type: object
                        properties:
                          total:
                            type: integer
                          buyers_in_range:
                            type: integer
                          new_buyers_in_range:
                            type: integer
                      period:
                        type: object
                        properties:
                          from:
                            type: string
                          to:
                            type: string
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /store:
    get:
      tags:
      - Account
      operationId: getStore
      summary: Get the store
      description: 'Public profile, enabled features and accepted payment methods.


        **Permission:** `store:read`'
      responses:
        '200':
          description: The store
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  store:
                    $ref: '#/components/schemas/Store'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
  /payment-methods:
    get:
      tags:
      - Account
      operationId: listPaymentMethods
      summary: List payment methods
      description: 'Methods your checkout accepts right now. No credentials are returned.


        **Permission:** `store:read`'
      responses:
        '200':
          description: Methods
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  payment_methods:
                    type: array
                    items:
                      $ref: '#/components/schemas/PaymentMethod'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
  /products:
    get:
      tags:
      - Products
      operationId: listProducts
      summary: List products
      description: 'Newest first.


        **Permission:** `products:read`'
      parameters:
      - in: query
        name: q
        schema:
          type: string
        description: Name, slug or exact hash ID.
      - in: query
        name: status
        schema:
          type: string
          enum:
          - draft
          - active
          - archived
      - in: query
        name: type
        schema:
          type: string
          enum:
          - file
          - serial
          - subscription
          - donation
          - contact
          - physical
      - in: query
        name: product_kind
        schema:
          type: string
          enum:
          - single
          - variants
          - donation
      - in: query
        name: active
        schema:
          type: boolean
      - in: query
        name: category_id
        schema:
          type: integer
      - in: query
        name: limit
        schema:
          type: integer
          default: 25
          minimum: 1
          maximum: 100
        description: Items per page (1–100).
      - in: query
        name: offset
        schema:
          type: integer
          default: 0
          minimum: 0
        description: Number of items to skip.
      responses:
        '200':
          description: A page of results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    post:
      tags:
      - Products
      operationId: createProduct
      summary: Create a product
      description: 'Codes: `SLUG_TAKEN`, `SKU_TAKEN`, `PLAN_LIMIT_REACHED` (plan''s product limit), `PHYSICAL_GOODS_NOT_ENABLED`.


        **Permission:** `products:write`'
      parameters:
      - in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
          maxLength: 255
        description: Unique key (for example a UUID) that makes retries safe. The first response is stored for 24 hours and replayed for retries with the same key and body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                slug:
                  type: string
                  description: Generated from the name when omitted.
                type:
                  type: string
                  enum:
                  - file
                  - serial
                  - subscription
                  - donation
                  - contact
                  - physical
                  default: file
                product_kind:
                  type: string
                  enum:
                  - single
                  - variants
                  - donation
                status:
                  type: string
                  enum:
                  - draft
                  - active
                  - archived
                  default: draft
                active:
                  type: boolean
                visibility:
                  type: string
                  enum:
                  - public
                  - unlisted
                  - private
                best_seller:
                  type: boolean
                metadata:
                  type: object
                  properties: {}
                  additionalProperties:
                    type: string
                currency:
                  type: string
                price_cents:
                  type: integer
                  minimum: 0
                discount_percent:
                  type: number
                  minimum: 0
                  maximum: 100
                accepts_coupons:
                  type: boolean
                min_qty:
                  type: integer
                max_qty:
                  type: integer
                sell_limit:
                  type: integer
                  minimum: -1
                delivery_note:
                  type: string
                  nullable: true
                details:
                  $ref: '#/components/schemas/ProductDetails'
                seo:
                  $ref: '#/components/schemas/ProductSeo'
                category_ids:
                  type: array
                  items:
                    type: integer
                stock_alert_threshold:
                  type: integer
                  nullable: true
                media_urls:
                  type: array
                  description: Image URLs (http/https), max 50.
                  items:
                    type: string
                payment_methods:
                  type: array
                  items:
                    $ref: '#/components/schemas/PaymentMethodToggle'
                donation_min_price_cents:
                  type: integer
                donation_suggested_price_cents:
                  type: integer
                subscription:
                  type: object
                  properties:
                    billing_interval:
                      type: string
                      enum:
                      - daily
                      - weekly
                      - monthly
                      - yearly
                    trial_days:
                      type: integer
                    auto_renew:
                      type: boolean
                    initial_price_cents:
                      type: integer
                    recurring_price_cents:
                      type: integer
                    delivery:
                      type: string
                      enum:
                      - file
                      - serial
                sku:
                  type: string
                  description: Physical only.
                physical:
                  type: object
                  properties:
                    weight_grams:
                      type: integer
                    handling_days:
                      type: integer
                    return_days:
                      type: integer
                    warranty_months:
                      type: integer
                    free_shipping:
                      type: boolean
                  description: Physical only.
                  additionalProperties: true
                options:
                  type: array
                  description: Physical only.
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        example: Size
                      display_type:
                        type: string
                      values:
                        type: array
                        example:
                        - S
                        - M
                        - L
                        items:
                          type: string
                variants:
                  type: array
                  description: Required when `product_kind` is `variants`. Same fields as POST /products/{id}/variants.
                  items:
                    type: object
                    properties: {}
                    additionalProperties: true
              required:
              - name
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    success:
                      type: boolean
                      example: true
                - $ref: '#/components/schemas/ProductBundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /products/{id}:
    get:
      tags:
      - Products
      operationId: getProduct
      summary: Get a product
      description: 'Product with details, SEO, payment methods, media and variants.


        **Permission:** `products:read`'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: AbC123xyz789
        description: Product hash ID (numeric ID also accepted).
      responses:
        '200':
          description: The product
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    success:
                      type: boolean
                      example: true
                - $ref: '#/components/schemas/ProductBundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Products
      operationId: updateProduct
      summary: Update a product
      description: 'Send only what changes. `details` and `seo` are merged field by field. `PUT` is an alias.


        **Permission:** `products:write`'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: AbC123xyz789
        description: Product hash ID (numeric ID also accepted).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                slug:
                  type: string
                  description: Generated from the name when omitted.
                type:
                  type: string
                  enum:
                  - file
                  - serial
                  - subscription
                  - donation
                  - contact
                  - physical
                  default: file
                product_kind:
                  type: string
                  enum:
                  - single
                  - variants
                  - donation
                status:
                  type: string
                  enum:
                  - draft
                  - active
                  - archived
                  default: draft
                active:
                  type: boolean
                visibility:
                  type: string
                  enum:
                  - public
                  - unlisted
                  - private
                best_seller:
                  type: boolean
                metadata:
                  type: object
                  properties: {}
                  additionalProperties:
                    type: string
                currency:
                  type: string
                price_cents:
                  type: integer
                  minimum: 0
                discount_percent:
                  type: number
                  minimum: 0
                  maximum: 100
                accepts_coupons:
                  type: boolean
                min_qty:
                  type: integer
                max_qty:
                  type: integer
                sell_limit:
                  type: integer
                  minimum: -1
                delivery_note:
                  type: string
                  nullable: true
                details:
                  $ref: '#/components/schemas/ProductDetails'
                seo:
                  $ref: '#/components/schemas/ProductSeo'
                category_ids:
                  type: array
                  items:
                    type: integer
                stock_alert_threshold:
                  type: integer
                  nullable: true
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    success:
                      type: boolean
                      example: true
                - $ref: '#/components/schemas/ProductBundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    delete:
      tags:
      - Products
      operationId: deleteProduct
      summary: Delete a product
      description: '**Permission:** `products:write`'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: AbC123xyz789
        description: Product hash ID (numeric ID also accepted).
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  deleted:
                    type: boolean
                    example: true
                  id:
                    type: string
                  legacy_id:
                    type: integer
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
  /products/{id}/duplicate:
    post:
      tags:
      - Products
      operationId: duplicateProduct
      summary: Duplicate a product
      description: 'Creates a draft copy. Keys, stock, files and SKUs are not copied.


        **Permission:** `products:write`'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: AbC123xyz789
        description: Product hash ID (numeric ID also accepted).
      - in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
          maxLength: 255
        description: Unique key (for example a UUID) that makes retries safe. The first response is stored for 24 hours and replayed for retries with the same key and body.
      responses:
        '201':
          description: The copy
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    success:
                      type: boolean
                      example: true
                - $ref: '#/components/schemas/ProductBundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /products/{id}/variants:
    get:
      tags:
      - Variants & stock
      operationId: listVariants
      summary: List variants
      description: '**Permission:** `products:read`'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: AbC123xyz789
        description: Product hash ID (numeric ID also accepted).
      responses:
        '200':
          description: Variants
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  variants:
                    type: array
                    items:
                      $ref: '#/components/schemas/Variant'
                required:
                - success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
      - Variants & stock
      operationId: createVariant
      summary: Create a variant
      description: 'Codes: `VARIANT_SLUG_TAKEN`, `SKU_TAKEN`.


        **Permission:** `products:write`'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: AbC123xyz789
        description: Product hash ID (numeric ID also accepted).
      - in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
          maxLength: 255
[...]
